{% extends "admin/change_form.html" %}
{% block extrahead %}
<!-- Tem que reescrever o extrahead para não carregar o RelatedObjectLookups.js -->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
{% endblock %}
{% block after_related_objects %}
<script>
    django.jQuery(document).ready(function($){
        var adicao_add = $("#main-adicao-content_type-object_id-empty").siblings(".add-row").children("td").children("a");
        $(adicao_add).attr("href", "/admin/main/adicao/add/");
        $(adicao_add).click(function(e){
            e.stopPropagation;
            return showAddAnotherPopup(this);
        });
    });  

    function populate(data){
        $.each(data, function(index, item){
            $(".dynamic-main-adicao-content_type-object_id:last").children(".numero").children("input:text").val(item['numero']);
            $(".dynamic-main-adicao-content_type-object_id:last").children(".documento").children("select").val(item['documento']);
        });
    }

    //Funções do RelatedObjectLookups.js
    function dismissAddAnotherPopup (win, newId, newRepr) {
        //Única função alterada
        $.ajax({
            url: "/ajax/"+ newId,
            cache: false,
            async: false,
            dataType: "json",
            success: function(data){
                populate(data);
            },
            complete: function(jqXHR, textStatus){
                alert(textStatus);
            },
            error: function(e){
                alert(e);
            },
        });

        win.close();
    }
   

   function html_unescape(text) {
       text = text.replace(/&lt;/g, '<');
       text = text.replace(/&gt;/g, '>');
       text = text.replace(/&quot;/g, '"');
       text = text.replace(/&#39;/g, "'");
       text = text.replace(/&amp;/g, '&');
       return text;
       } 
       function id_to_windowname(text) {
           text = text.replace(/\./g, '__dot__');
           text = text.replace(/\-/g, '__dash__');
           return text;
           }
           function windowname_to_id(text) {
               text = text.replace(/__dot__/g, '.');
               text = text.replace(/__dash__/g, '-');
               return text;

               }
               function showRelatedObjectLookupPopup(triggeringLink) {
                   var name = triggeringLink.id.replace(/^lookup_/, '');                   
                   name = id_to_windowname(name);
                   var href;
                   if (triggeringLink.href.search(/\?/) >= 0) {
                       href = triggeringLink.href + '&pop=1';
                   } else { 
                   href = triggeringLink.href + '?pop=1';
               }                                         
               var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');               
               win.focus();
               return false;
               }
               function dismissRelatedLookupPopup(win, chosenId) {
                   var name = windowname_to_id(win.name);
                   var elem = document.getElementById(name);
                   if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {  
                       elem.value += ',' + chosenId;
                       } else { 
                       document.getElementById(name).value = chosenId;
                   }
                   win.close();
                   }
                   function showAddAnotherPopup(triggeringLink) {
                       var name = triggeringLink.id.replace(/^add_/, '');
                       name = id_to_windowname(name);
                       href = triggeringLink.href;
                       if (href.indexOf('?') == -1) {                           
                           href += '?_popup=1';
                           } else {
                           href  += '&_popup=1';
                       }                                                                                
                       var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
                       win.focus();
                       return false;

                       }                                                                                                  





























</script>
{% endblock %}

