{% extends "admin/change_form.html" %}

{% block after_related_objects %}
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script>
    django.jQuery(document).ready(function($){
        $("form").submit(function(e){
            e.stopPropagation;
            var parent = window.openner.document;
            var index = 0;
            $(parent).find("#main-adicao-content_type-object_id-group .numero").each(function(){
                if ($(this).children("input:text")===""){
                    return false;
                }
                index ++;
            });
            $(parent).find("#main-adicao-content_type-object_id-group .numero:eq("+index+")").children("input:text").val($("#id_numero").val());
            $(parent).find("#main-adicao-content_type-object_id-group .documento:eq("+index+")").children("select").val($("#id_documento").val());


            //window.close();

        });
       
    });
</script>
{% endblock %}
